<meta property="og:title" content="Statistical Insights: Applying Inferential Analysis to Software Incident Data" />
<meta property="og:description" content="White paper which explores using Statistics to analyze Software Incident Data" />
<meta property="og:image" content="https://milapj.github.io/infer-stats-white-paper/resources/incident_analysis_llm.png" /> 
<meta property="og:url" content="https://milapj.github.io/infer-stats-white-paper/" />
<meta name="author" content="Milap Jhumkhawala">
